In [2]:
from fieldlist import FieldList
path = "../tests/tuv_pl.grib"

ft = FieldList(path)

In [4]:
len(ft)

18

In [9]:
ft.describe()

In [21]:
ft[2:5].ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

In [15]:
ft.head()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

### Iteration

In [6]:
for f in ft[:4]:
    print(type(f))

<class 'fieldlist.fieldlist.FieldList'>
<class 'fieldlist.fieldlist.FieldList'>
<class 'fieldlist.fieldlist.FieldList'>
<class 'fieldlist.fieldlist.FieldList'>

### Filter

In [12]:
g = ft.sel(level=[850, 500])
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

In [14]:
g = ft.sel({"level": [850, 500]})
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

### Metadata

In [16]:
ft[:8].get("level")

[1000, 1000, 1000, 850, 850, 850, 700, 700]

In [17]:
ft[:8]["level"]

[1000, 1000, 1000, 850, 850, 850, 700, 700]

In [19]:
ft[:8].get(["level", "paramId", "centre:l"])

[[1000, 130, 98],
 [1000, 131, 98],
 [1000, 132, 98],
 [850, 130, 98],
 [850, 131, 98],
 [850, 132, 98],
 [700, 130, 98],
 [700, 131, 98]]

In [20]:
g = ft[:8].set(level=500)
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
6,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
7,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

GribField(u,500,20180801,1200,0,0)