In [1]:
from fieldlist import FieldList
path = "/Users/cgr/metview/python_test/tuv_pl.grib"

ft = FieldList(path)

In [2]:
a = ft.describe()
a

In [3]:
ft.describe(130)

In [4]:
ft.describe("u")

In [5]:
a=ft.describe("u")
a.index

Index(['shortName', 'typeOfLevel', 'level', 'date', 'time', 'step', 'paramId',
       'class', 'stream', 'type', 'experimentVersionNumber'],
      dtype='object')

AttributeError: 'Styler' object has no attribute 'drop'

In [ ]:
a