In [1]:
from fieldlist import FieldList
path = "/Users/cgr/metview/python_test/tuv_pl.grib"

ft = FieldList(path)

In [7]:
ft.describe()

In [3]:
ft.describe(130)

In [4]:
ft.describe("u")