In [1]:
from fieldlist import FieldList
path = "../tests/tuv_pl.grib"

ft = FieldList(path)

In [2]:
ft.describe()

In [3]:
ft.describe(130)

In [4]:
ft.describe("u")