In [1]:
from fieldlist import FieldList
path = "/Users/cgr/metview/python_test/tuv_pl.grib"

ft = FieldList(path)

In [2]:
ft.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
6,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
7,ecmf,u,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
8,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
9,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
10,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
11,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
12,ecmf,t,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
13,ecmf,u,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
14,ecmf,v,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
15,ecmf,t,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
16,ecmf,u,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
17,ecmf,v,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll

In [3]:
ft.ls(extra_keys=["levelist", "levtype"])

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType,levelist,levtype
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll,1000,pl
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll,1000,pl
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll,1000,pl
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll,850,pl
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll,850,pl
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll,850,pl
6,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll,700,pl
7,ecmf,u,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll,700,pl
8,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll,700,pl
9,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll,500,pl
10,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll,500,pl
11,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll,500,pl
12,ecmf,t,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll,400,pl
13,ecmf,u,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll,400,pl
14,ecmf,v,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll,400,pl
15,ecmf,t,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll,300,pl
16,ecmf,u,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll,300,pl
17,ecmf,v,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll,300,pl

In [4]:
ft.head()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

In [5]:
ft.head(10)

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
6,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
7,ecmf,u,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
8,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
9,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

In [6]:
ft.tail()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
13,ecmf,u,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
14,ecmf,v,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
15,ecmf,t,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
16,ecmf,u,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
17,ecmf,v,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll

In [7]:
ft.tail(7)

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
11,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
12,ecmf,t,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
13,ecmf,u,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
14,ecmf,v,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
15,ecmf,t,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
16,ecmf,u,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
17,ecmf,v,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll