In [1]:
from fieldlist import FieldList
path = "../tests/tuv_pl.grib"

ft = FieldList(path)

In [2]:
a = ft.sel(level=500)
a

In [3]:
len(a)

3

In [4]:
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

In [5]:
a = ft.sel({"level": 500, "shortName": "v"})
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll